.activity-card {
    margin: 0.3em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.activity-info-container {
    display: flex;
    direction: row;
    align-items: center;
}

/* Styles for the status bubble, ON/OFF */
#status {
    display: flex;
    direction: column;
    justify-content: center;
}

.activity-done { 
    color: rgb(0, 209, 185);
}

/* Styles for the activity title & subtitle (tag)*/
.titles {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.title {
    color: black;
    font-size: 1em;
    /* font-weight: bold; */
}

.subtitle {
    margin-top: 0.6em;
}

/* Styles for difficulty tag, colors are different  */
.difficulty-tag {
    padding: 0.3em;
    font-size: 0.8em;
}

.color-debutant {
    border: 2px solid teal;
    border-radius: 5px;
    color:teal;
}

.color-intermediaire {
    border: 2px solid #b8bb04;
    border-radius: 5px;
    color:#b8bb04;
}

.color-difficile {
    border: 2px solid #800400;
    border-radius: 5px;
    color:#800400;
}

/* Style for the arrow button in the end, only use as indication */
#action-sign {
    display: flex;
    flex-direction: row;
    align-items: center;
}


