.activity-card {
    margin: 0.3em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    direction: row;
    justify-content: space-between;
}

.activity-info-container {
    display: flex;
    direction: row;
    align-items: center;
}

#status {
    display: flex;
    direction: column;
    justify-content: center;
}

.titles {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.title {
    color: black;
    font-size: 1em;
    /* font-weight: bold; */
}

.subtitle {
    margin-top: 0.6em;
}

.difficulty-tag {
    border: 2px solid teal;
    border-radius: 5px;
    padding: 0.3em;
    color:teal;
    font-size: 0.8em;
}

#action-sign {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.activity-done { 
    color: rgb(0, 209, 185);
}
