<mat-card mat-ripple class="activity-card" [routerLink]="[activity.questionId]">
  <div class="activity-info-container">
    <div id="status">
      <i class="material-icons light-gray" id="icon-size-24" [ngClass]="{'activity-done': activityStatus}">brightness_1</i>
    </div> 
    <div class="titles">
      <div class="title"><h4>{{activity.name}}</h4></div>
      <div class="subtitle"> <span class="difficulty-tag" [ngClass]="{'color-debutant': activity.difficulty == 'DÉBUTANT',
        'color-intermediaire': activity.difficulty == 'INTERMÉDIAIRE',
        'color-difficile': activity.difficulty == 'DIFFICILE'}">{{activity.difficulty}}</span> </div>
    </div>
  </div>
  <div id="action-sign">
    <i class="material-icons light-gray" id="icon-size-24">arrow_forward_ios</i>
  </div> 
</mat-card>
