.mat-card {
    margin: 0.3em;
}


.title {
    display: flex;
    flex-direction: row;
}

.mat-card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mat-card-content {
    margin: 0.8em 0.3em;
}

#definition {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
}

#nature {
    font-weight: bold;
    font-size: 1.2em;
    font-style: italic;
}

#example {
    font-size: 1em;
    color: teal;
}