<div class="container">
  <h3 class="teal"><b>{{question.name}}</b></h3>

  <app-desc-container [questionType]="question.questionType" [imgDesc]="question.imgDesc" [audioDesc]="question.audioDesc"></app-desc-container>

  <div id="desc"><p>{{question.desc}}</p></div>
  <div class="question-container">
    <mat-radio-group
      class="qcm-group"
      [(ngModel)]="userChoice"
      (ngModelChange)="onUserChoiceChange($event)">
      <div class="row">
        <mat-radio-button class="qcm-button" [value]="question.choices[0].id"><img class="q-picture" [src]="question.choices[0].imgSrc"></mat-radio-button>
        <mat-radio-button class="qcm-button" [value]="question.choices[1].id"><img class="q-picture" [src]="question.choices[1].imgSrc"></mat-radio-button>
      </div>
      <div class="row">
        <mat-radio-button class="qcm-button" [value]="question.choices[2].id"><img class="q-picture" [src]="question.choices[2].imgSrc"></mat-radio-button>
        <mat-radio-button class="qcm-button" [value]="question.choices[3].id"><img class="q-picture" [src]="question.choices[3].imgSrc"></mat-radio-button>
      </div>
    </mat-radio-group>
  </div>
</div>