.container {
    margin-top: 0.5em;
}

h2, h3, h4 {
    text-align: center;
}

.qcm-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

#qcm-group-desc {
    font-size: 1.5em;
    margin: 1em;
}

.qcm-button {
    font-size: 1.2em;
    margin: 0.6em;
}

.wrap-mat-radio-label {
    white-space: normal;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.q-picture {
    width: 100%;
    border: solid 1px lightgray;
}


.question-container {
    margin-top: 1em;
    margin-bottom: 1em;
}

@media (min-width: 768px) {
    .question-container {
        width: 70%;
        margin: auto;
    }
}

#desc {
    font-size: 1.5em;
    text-align: center;
}


.teal { 
    /* mat-teal */
    color: #00796B;
}



