<div class="container">
  <h3 class="teal">{{question.name}}</h3>
  <div [ngSwitch]="question.questionType">
    <!-- Question Type 1: LISEZ_ET_CHOISISSEZ_TEXT -->
    <h3 *ngSwitchCase="2">Lisez et choississez</h3>
      <!-- Question Type 3: ECOUTEZ_ET_CHOISISSEZ_TEXT -->
    <h3 *ngSwitchCase="4">Écoutez et choississez</h3>
  </div>

  <app-audio-desc *ngIf="hasAudio" [audioDesc]="question.audioDesc"></app-audio-desc>
  <app-image-desc *ngIf="hasImage" [imgDesc]="question.imgDesc"></app-image-desc>

  <div id="desc">{{question.desc}}</div>
  <div class="question-container">
    <mat-radio-group
      class="qcm-group"
      [(ngModel)]="userChoice"
      (ngModelChange)="onUserChoiceChange($event)">
      <mat-radio-button class="qcm-button" *ngFor="let choice of question.choices" [value]="choice.id">
        <!-- <span class="wrap-mat-radio-label">{{choice.desc}}</span> -->
        <img class="q-picture" [src]="choice.imgSrc">
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>