.placeholder {
    height: 56px;
}

.placeholder-bottom {
    height: 80px;
}

/* Style adjustments for mat-card */
.mat-card {
    margin: 0.3em;
}

mat-card-title {
    display: flex;
    flex-direction: row;
}

.mat-card-content {
    margin: 0.8em 0.3em;
}

@media (min-width: 768px) {
    .mat-card {
        padding: 25px;
    }
    .mat-card-content {
        margin: 2.5em 0.3em;
    }
}

/* Styles for the "Global Progress" section */
#card-bg {
    padding: 50px;  
    background-color: teal;
    background-size: cover;
    color: white;
}

/* Styles for text and layout  */
h2 {
    padding: 0.5em 1em;
}

.sub-title{
    text-align: center;
}

span {
    font-size: 0.8em;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
        Every row uses a flexbox row layout. */
    flex: 1 1 auto;
}

@media (min-width: 768px) {
    #card-bg{
        padding: 5% 30% 5% 30%;
        margin: 0;
    }
    .sub-title{
        background-color: #f1f1f1;
    }
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #f1f1f1;
        height: 70vh;
    }
    .progress-item {
        width: 32%;
    }
}