<div class="placeholder"></div>

<mat-card id="card-bg">
  <mat-card-title>
      <span><h3>Global Progression</h3></span>
      <span class="fill-remaining-space"></span>
      <span><h3>{{ globalTotalValue | percent }}</h3></span>
    </mat-card-title>
  <mat-card-content>
    <mat-progress-bar [value]="globalTotalValue*100"></mat-progress-bar>
  </mat-card-content>
</mat-card>

<h2 class="teal">Progression by themes</h2>

<mat-card *ngFor="let progressItem of progressData" [routerLink]="['/categories', progressItem.id]">
  <mat-card-title>
    <span><h4>{{progressItem.name}}</h4></span>
    <span class="fill-remaining-space"></span>
    <span><h4>{{progressItem.doneQuestionIds.length/progressItem.total | percent}}</h4></span>
  </mat-card-title>
  <mat-card-content>
    <mat-progress-bar [value]="progressItem.doneQuestionIds.length/progressItem.total*100"></mat-progress-bar>
  </mat-card-content>
</mat-card>

<div class="placeholder-bottom"></div>





