.placeholder {
    height: 65px;
}

.placeholder-bottom {
    height: 80px;
}

@media (min-width: 768px) {
    .container {
        display: grid; 
        grid-template-columns: auto auto auto;
        justify-items: center;
        align-items: center;
        background-color: #f1f1f1;
    }
}