h3, h4 {
    text-align: center;
}

h3 {
    margin-top: 0.5em;
}

.question-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5em;
}

@media (min-width: 768px) {
    .question-container {
        width: 70%;
        margin: auto;
    }
}

// Each item contains an image and a selection dropdown
.item {
    margin: 0.5em;
    width: 45%;
}

.img-container {
    border: solid 1px lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100% !important;
    height: 100% !important;
    max-width: 100%;
    max-height: 100%;
}

// Selection dropdown form field
.mat-form-field {
    width: 98%;
}

.match-correct {
    border: 1px solid green;
}

.match-incorrect {
    border: 1px solid red;
}

