.container {
    margin-top: 1em;
}

h2, h3 {
    text-align: center;
}

.qcm-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

#qcm-group-desc {
    font-size: 1.5em;
    margin: 1em;
}

.qcm-button {
    font-size: 1.2em;
    margin: 1em;
}

.wrap-mat-radio-label {
    white-space: normal;
}

.image-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.audio-container {
    margin: 2em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.q-picture {
    width: 80%;
    height: auto;
}

.question-container {
    margin-top: 1em;
    margin-bottom: 1em;
}



