<div class="container">
  <h3 class="teal"><b>{{question.name}}</b></h3>

  <app-desc-container [questionType]="question.questionType" [imgDesc]="question.imgDesc" [audioDesc]="question.audioDesc"></app-desc-container>

  <div><p id="desc">{{question.desc}}</p></div>
  <div class="question-container">
    <mat-radio-group
      class="qcm-group"
      [(ngModel)]="userChoice"
      (ngModelChange)="userSelect($event)">
      <mat-radio-button class="qcm-button" *ngFor="let choice of question.choices" [value]="choice.id">
        <span class="wrap-mat-radio-label">{{choice.desc}}</span>
      </mat-radio-button>
    </mat-radio-group>
  </div>

</div>