.container {
    margin-top: 0.5em;
}

h2, h3, h4 {
    text-align: center;
}

.qcm-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

#qcm-group-desc {
    // font-size: 1.5em;
    // margin: auto;
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
}

.qcm-button {
    font-size: 1.2em;
    margin: 0.5em;
}

.wrap-mat-radio-label {
    white-space: normal;
}

.question-container {
    // margin-top: 1em;
    margin-bottom: 1em;

    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .question-container {
        margin-top: 1em;
    }
}

#sub-title {
    margin-top: 0.5em;
}

#desc {
    font-size: 1.2em;
    text-align: center;
    padding: 0 0.8em;
}

