<div class="container">
  <h2>{{question.name}}</h2>
  <div [ngSwitch]="question.questionType">
    <!-- Question Type 1: LISEZ_ET_CHOISISSEZ_TEXT -->
    <h3 *ngSwitchCase="1">Lisez et choississez</h3>
      <!-- Question Type 3: ECOUTEZ_ET_CHOISISSEZ_TEXT -->
    <h3 *ngSwitchCase="3">Écoutez et choississez</h3>
  </div>

  <app-audio-desc *ngIf="hasAudio" [audioDesc]="question.audioDesc"></app-audio-desc>
  <app-image-desc *ngIf="hasImage" [imgDesc]="question.imgDesc"></app-image-desc>

  <div id="desc">{{question.desc}}</div>
  <div class="question-container">
    <mat-radio-group
      class="qcm-group"
      [(ngModel)]="userChoice"
      (ngModelChange)="userSelect($event)">
      <mat-radio-button class="qcm-button" *ngFor="let choice of question.choices" [value]="choice.id">
        <span class="wrap-mat-radio-label">{{choice.desc}}</span>
      </mat-radio-button>
    </mat-radio-group>
  </div>

</div>