<h2>{{question.name}}</h2>
<h3>Associez</h3>

<app-audio-desc *ngIf="hasAudio" [audioDesc]="question.audioDesc"></app-audio-desc>

<div class="container">
  <div class="item">
    <img bind-src="randomImages[0].imgSrc" alt="Image not available">
    <div class="drop-container" cdkDropList #item1Box="cdkDropList" 
      [cdkDropListData]="item1"
      [cdkDropListConnectedTo]="[poolList, item2Box, item3Box, item4Box]"
      (cdkDropListDropped)="drop($event)">
      <div class="box" [ngClass]="{'match-correct': item1matched == 1, 'match-incorrect': item1matched == 0}" *ngFor="let item of item1" cdkDrag>{{item.desc}}</div>
    </div>
  </div> 
  <div class="item">
    <img bind-src="randomImages[1].imgSrc" alt="Image not available">
    <div class="drop-container" cdkDropList #item2Box="cdkDropList" 
      [cdkDropListData]="item2"
      [cdkDropListConnectedTo]="[poolList, item1Box, item3Box, item4Box]"    
      (cdkDropListDropped)="drop($event)">
      <div class="box" [ngClass]="{'match-correct': item2matched == 1, 'match-incorrect': item2matched == 0}" *ngFor="let item of item2" cdkDrag>{{item.desc}}</div>
    </div>
  </div>
  <div class="item">
    <img bind-src="randomImages[2].imgSrc" alt="Image not available">
    <div class="drop-container" cdkDropList #item3Box="cdkDropList" 
      [cdkDropListData]="item3"
      [cdkDropListConnectedTo]="[poolList, item1Box, item2Box, item4Box]"
      (cdkDropListDropped)="drop($event)">
      <div class="box" [ngClass]="{'match-correct': item3matched == 1, 'match-incorrect': item3matched == 0}" *ngFor="let item of item3" cdkDrag>{{item.desc}}</div>
    </div>
  </div>
  <div class="item">
    <img bind-src="randomImages[3].imgSrc" alt="Image not available">
    <div class="drop-container" cdkDropList #item4Box="cdkDropList" 
      [cdkDropListData]="item4"
      [cdkDropListConnectedTo]="[poolList, item1Box, item2Box, item3Box]"
      (cdkDropListDropped)="drop($event)">
      <div class="box" [ngClass]="{'match-correct': item4matched == 1, 'match-incorrect': item4matched == 0}" *ngFor="let item of item4" cdkDrag>{{item.desc}}</div>
    </div>
  </div> 
  <div class="pool" cdkDropList cdkDropListOrientation="horizontal" #poolList="cdkDropList" 
    [cdkDropListData]="randomTextPool"
    [cdkDropListConnectedTo]="[item1Box,item2Box,item3Box, item4Box]"
    (cdkDropListDropped)="drop($event)">
    <div class="box" *ngFor="let poolItem of randomTextPool" cdkDrag>{{poolItem.desc}}</div>
  </div>  

 
</div> 