<div class="placeholder-header"></div>

<div id="section1" class="section">
  <h1>法语生活的正确打开方式。</h1>
  <div class="actions-container">  
    <button mat-stroked-button class="btn-action btn-register" (click)="register()"><p>快速注册 & 开始学习</p></button>
    <button mat-stroked-button class="btn-action btn-login" (click)="login()"><p>已有账户</p></button>
  </div>
</div>

<div id="section2" >
  <section id="feature-area">
      <mat-card class="features">
        <mat-card-title>
          <h4>学习真实生活中使用的法语</h4>
        </mat-card-title>
        <mat-card-content>
          <p>已经上过一段时间的法语课，但是仍然在日常生活中自信不足？不想依赖二手的翻译信息，想品味真实的法国？我们的应用提供真实生活中用到的法语内容练习，使你能够尽快使用法语进行学习和生活。</p>  
        </mat-card-content>
      </mat-card>
      <mat-card class="features">
        <mat-card-title>
          <h4>学习你想学的内容</h4>
        </mat-card-title>
        <mat-card-content class="feature-container">
          <div class="feature-hightlight">
            <span id="nature"><img src="assets/img/landing/icons8-abc-48.png" alt="ABC"></span>&nbsp;
            <div class="desc-column">
              <h3><b>100% 有用</b></h3>
              <p class="desc">学习材料基于学长学姐们在法国的多年生活工作经验，因此保证实用。我们还会定期更新内容。</p>
            </div>
          </div>
          <div class="feature-hightlight">
            <span id="nature"><img src="assets/img/landing/icons8-sorting-48.png" alt="Category"></span>&nbsp;
            <div class="desc-column">
              <h3><b>包罗万象</b></h3>
              <p class="desc">从基本生活技能如买菜，租房，娱乐到职场社交，面试等专业场景，我们都提供最经典实用的语言素材。</p>
            </div>
          </div>
          <div class="feature-hightlight">
            <span id="nature"><img src="assets/img/landing/icons8-learning-48.png" alt="Improve"></span>&nbsp;
            <div class="desc-column">
              <h3><b>进步神速</b></h3>
              <p class="desc">掌握我们精心挑选的核心语汇，让你先敢于开口，再举一反三，快速拓展法语能力。注册账号你可以保存你的学习进度，可以随时随地不受限制地学习。</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
  </section>
  <section id="example">
    <mat-card class="features">
      <mat-card-title>
        <h4>通过活动学习</h4>
      </mat-card-title>
      <mat-card-content>
        <p>学习材料以各种交互式题目形式展示。</p>
      </mat-card-content>
    </mat-card>
    <div class="screenshots-scrolling-wrapper">
      <div *ngFor="let pathItem of screenshotImagePaths" class="screenshot-app">
        <img class="screenshot-img" [src]="pathItem"><hr>
      </div>
    </div>
  </section>
  <section id="platforms">
    <mat-card class="features">
      <mat-card-title>
        <h5>网页版应用已经上线，手机版将紧随而来</h5>
      </mat-card-title>
      <mat-card-content>
        <p class="desc">苹果和安卓的原生应用尚在开发当中。 <br>
          与此同时，可以使用浏览器的 <b>"保存到桌面"</b> 功能以快速访问网页版应用。
        </p>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>For Safari</mat-panel-title>
          </mat-expansion-panel-header>
          <img src="assets/img/landing/save-to-home.png" style="width:85%; margin-top: 1.5em; ">       
          </mat-expansion-panel>
      </mat-card-content>
    </mat-card>
  </section>
  <section >
    <mat-card class="features" id="call-to-action">
      <mat-card-title>
        <h4>走下楼就能用到的法语，不学一波吗？</h4>
      </mat-card-title>
      <div class="actions-container">  
        <button mat-stroked-button class="btn-action btn-register" (click)="register()"><p>快速注册 & 开始学习</p></button>
      </div>
    </mat-card>
  </section>
</div>

<footer id="footer-area" >
  <div class="footer-note">
    <a class="footer-link" href="mailto:qihui.yu0811@gmail.com"><h4>联系我们</h4></a>
    <a class="footer-link" href="landing/en"><h4>English</h4></a>
  </div>
  <div class="footer-text">
    <h6>© 2019 Crafted by qihui.yu in Paris</h6>
  </div>
</footer>
