<div class="container">
  <button mat-button routerLink="/main">
    <div class="button-container">
      <i class="material-icons md-32 teal">face</i>
      <p>Main</p>
    </div>
  </button>
  <button mat-button routerLink="/progress">
    <div class="button-container">
      <i class="material-icons md-32 gray">trending_up</i>
      <p>Progress</p>
    </div>
  </button>
  <button mat-button routerLink="/vocabulary">
    <div class="button-container">
      <i class="material-icons md-32 gray">ballot</i>
      <p>Vocabulary</p>
    </div>  
  </button>
  <button mat-button routerLink="/settings">
    <div class="button-container">
      <i class="material-icons md-32 gray">settings</i>
      <p>Settings</p>
    </div>
  </button>
</div>

