<div class="placeholder"></div>

<div class="header">
  <h2>Vocabulary</h2>
</div>

<mat-tab-group>
  <mat-tab label="Vie Quotidienne">
    <app-vocabulary-card *ngFor="let vocab of (volcabulaireCat1$ | async)" [vocabulary]="vocab"></app-vocabulary-card>
  </mat-tab>
  <mat-tab label="Administration">
    <app-vocabulary-card *ngFor="let vocab of (volcabulaireCat2$ | async)" [vocabulary]="vocab"></app-vocabulary-card>
  </mat-tab>
  <mat-tab label="Voyager">
    <h1>Some tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Logement">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Activités">
    <h1>Some tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Santé">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Vie amoureuse">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Vie professionnelle">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
</mat-tab-group>
