.placeholder-tab-group {
    height: 55px;
}

.placeholder-nav {
    height: 6em;
}

.container {
    height:100%;
}

/* TO IMPROVE: tab header fix after the global nav hard coded top distance*/
:host ::ng-deep .mat-tab-header{
    position: sticky;
    top: 56px;
    
    background: white;
    z-index: 10;
} 

::ng-deep .mat-tab-body.mat-tab-body-active {
    z-index: 0 !important;
}

::ng-deep .mat-tab-label-content {
    font-family: 'Raleway', sans-serif !important;
}

@media (min-width: 768px) {
    ::ng-deep .mat-tab-body.mat-tab-body-active{
        padding-left: 30%;
        padding-right: 20%;
        background-color: #f1f1f1;
    }
}