<div class="placeholder-header"></div>
<div class="placeholder"></div>


<div [ngSwitch]="(question$ | async ).questionType">
    <!-- Question Type 1: LISEZ_ET_CHOISISSEZ -->
    <app-qcm-select-text *ngSwitchCase="1"[question] = "(question$ | async)" [(userChoice)] = "userAnswer"></app-qcm-select-text>

    <app-qcm-select-image *ngSwitchCase="2" [question] = "(question$ | async)" [(userChoice)] = "userAnswer"></app-qcm-select-image>

    <!-- Question Type 2: ECOUTEZ_ET_CHOISISSEZ -->
    <app-qcm-select-text *ngSwitchCase="3" [question] = "(question$ | async)" [(userChoice)] = "userAnswer"></app-qcm-select-text>
    <app-qcm-select-image *ngSwitchCase="4" [question] = "(question$ | async)" [(userChoice)] = "userAnswer"></app-qcm-select-image>
    <!-- Question Type 3: ASSOCIEZ -->
    <app-associate-text-image *ngSwitchCase="5" [question] = "(question$ | async)"></app-associate-text-image> 
    <app-associate-image-to-goal *ngSwitchCase="6" [question] = "(question$ | async)"></app-associate-image-to-goal> 
    
    
    <!-- Question Type 4: CHOISISSEZ SUR CALENDRIER -->
    <!-- Work in progress -->
    <app-select-calendar *ngSwitchCase="9" [question] = "(question$ | async)"></app-select-calendar> 
</div>

<!-- <div>The selected answer is: {{userAnswer}}</div> -->

<div class="control-container">
    <div class="control">
        <button mat-raised-button id="validate" (click)="validateSelection()">Validate</button>
        <button mat-fab id="goback" *ngIf="done"  (click)="goNext()">Next</button>
        <button mat-fab id="goback" *ngIf="done"  (click)="goBack()">Back</button>
    </div>
</div>

<!-- 
<div>Your answer is: {{correctness}}</div>
<div>Your correct answers id are: {{correctAnswers}}</div> -->

<div class="placeholder"></div>
<div class="placeholder"></div>
<div class="placeholder"></div>
