<div class="placeholder-header"></div>

<div id="section1" class="section">
  <h1>Open the door to the real French life.</h1>
  <div class="actions-container">  
    <button mat-stroked-button class="btn-action btn-register" (click)="register()"><p>Quick sign up and get started</p></button>
    <button mat-stroked-button class="btn-action btn-login" (click)="login()"><p>Already have an accont</p></button>
  </div>
</div>

<div id="section2" class="sec">
    <section id="feature-area">
        <mat-card class="features">
            <mat-card-title>
              <h4>Learn French used in real life</h4>
            </mat-card-title>
            <mat-card-content>
              <p>You have already taken French courses, but still got no confidence in real life situations? 
                  Our apps propose fresh French materials used in 100% real life.</p>  
            </mat-card-content>
          </mat-card>
          <mat-card class="features">
            <mat-card-title>
              <h4>Learn what you need</h4>
            </mat-card-title>
            <mat-card-content>
              <div class="feature-hightlight">
                <span id="nature"><img src="assets/img/landing/icons8-abc-48.png" alt="ABC"></span>&nbsp;
                <div class="desc-column">
                  <h3><b>100% Useful language</b></h3>
                  <p class="desc">Learning materials are designed based on real life experience of many expats in France just like you. 
                    So these are language used by locals, and we keep updating it regulary.</p>
                </div>
              </div>
              <div class="feature-hightlight">
                <span id="nature"><img src="assets/img/landing/icons8-sorting-48.png" alt="Category"></span>&nbsp;
                <div class="desc-column">
                  <h3><b>Full category</b></h3>
                  <p class="desc">From basic life skills like shopping, house-renting to professional situations like networking or job interviews,
                    we provide the core language elements that help you make your first step.</p>
                </div>
              </div>
              <div class="feature-hightlight">
                <span id="nature"><img src="assets/img/landing/icons8-learning-48.png" alt="Improve"></span>&nbsp;
                <div class="desc-column">
                  <h3><b>Improve fast</b></h3>
                  <p class="desc">You can keep track of your progress with your account, and practice at anytime anywhere without any limit.</p>
                </div>
              </div>
            </mat-card-content>
        </mat-card>
    </section>
    <section id="example">
      <mat-card class="features-screenshots">
        <mat-card-title>
          <h4>Learn by activities</h4>
        </mat-card-title>
        <mat-card-content>
          <p>Learning materials are present as different kind of interactive activities.</p>
        </mat-card-content>
      </mat-card>
      <div class="screenshots-scrolling-wrapper">
        <div *ngFor="let pathItem of screenshotImagePaths" class="screenshot-app">
          <img class="screenshot-img" [src]="pathItem"><hr>
        </div>
      </div>
    </section>
    <section id="platforms">
      <mat-card class="features">
          <mat-card-title>
            <h5>Web app available now, native apps on the way.</h5>
          </mat-card-title>
          <mat-card-content>
            <p class="desc">Native apps for iOS / Android are under developement. <br>
              Meanwhile, use the <b>"Save to home screen"</b> function in your browser to create an easy access to this web app.
            </p>
            <img src="assets/img/landing/save-to-home.png" style="width:85%; margin-top: 1.5em; ">
          </mat-card-content>
        </mat-card>
    </section>
    <section >
      <mat-card class="features" id="call-to-action">
          <mat-card-title>
            <h4>The French that you can apply immediately when you step out off your door.</h4>
          </mat-card-title>
          <div class="actions-container">  
            <button mat-stroked-button class="btn-action btn-register" (click)="register()"><p>Quick sign up and get started</p></button>
          </div>
        </mat-card>
    </section>

    <footer id="footer-area" >
      <div class="footer-note">
        <h4>Contact</h4>
      </div>
      <div class="footer-text">
        <h6>© 2019 qihui.yu</h6>
      </div>
    </footer>
</div>
