<div class="placeholder-header"></div>

<div id="section1" class="section">
  <h1>Open the door to the real French life.</h1>
  <div class="actions-container">  
    <button mat-stroked-button class="btn-action btn-register">Quick Sign Up and Get Started</button>
    <button mat-stroked-button class="btn-action btn-login">Already have an accont</button>
  </div>
</div>

<div id="section2" class="sec">
    <section id="feature-area">
        <mat-card class="features">
            <mat-card-title>
              <h5>Learn the French language used in real life</h5>
            </mat-card-title>
            <mat-card-content>
              <p>You have already taken French courses, but still got no confidence in real life situations? 
                  Our apps propose fresh French materials used in 100% real life.</p>  
            </mat-card-content>
          </mat-card>
          <mat-card class="features">
            <mat-card-title>
              <h4>Immersive experience</h4>
            </mat-card-title>
            <mat-card-content>
              <div class="point">
                <span id="nature">icon</span>&nbsp;
                <div>
                  <h5>Personalized learning</h5>
                  <p>Our apps propose fresh French materials used in real life for an expat new in France like you. Adapt faster to the new environment and breath the air like a local</p>
                  </div>
              </div>
              <div class="point">
                <span id="nature">icon</span>&nbsp;
                <div>
                  <h5>Personalized learning</h5>
                  <p>Our apps propose fresh French materials used in real life for an expat new in France like you. Adapt faster to the new environment and breath the air like a local</p>
                  </div>
              </div>
              <div class="point">
                  <span id="nature">icon</span>&nbsp;
                  <div>
                    <h5>Personalized learning</h5>
                    <p>Our apps propose fresh French materials used in real life for an expat new in France like you. Adapt faster to the new environment and breath the air like a local</p>
                    </div>
                </div>

            </mat-card-content>
          </mat-card>
    </section>
    <section id="example">
      <mat-card class="features">
          <mat-card-title>
            <h5>App Screenshots</h5>
          </mat-card-title>
          <mat-card-content>
            <p>You have already taken French courses, but still got no confidence in real life situations? 
                Our apps propose fresh French materials used in 100% real life.</p>  
          </mat-card-content>
        </mat-card>
    </section>
</div>
