<div class="placeholder-header"></div>

<div id="section1" class="section">
  <h1>Open the door to the real French life.</h1>
  <div class="actions-container">  
    <button mat-stroked-button class="btn-action btn-register" (click)="register()"><p>Quick sign up & start learning</p></button>
    <button mat-stroked-button class="btn-action btn-login" (click)="login()"><p>Already have an account</p></button>
    <button mat-stroked-button class="btn-action btn-special" (click)="try()">                        
      <mat-spinner [diameter]="20" *ngIf="loading" id="load-spinner" ></mat-spinner>
      <p>Try it</p>
    </button>
  </div>
</div>

<div id="section2" >
    <section id="feature-area">
        <mat-card class="features">
          <mat-card-title>
            <h4>Learn French used in real life</h4>
          </mat-card-title>
          <mat-card-content>
            <p>You have already taken a bunch of French courses, but still got no confidence in real life situations? 
                Our app propose fresh French materials used in 100% real life.</p>  
          </mat-card-content>
        </mat-card>
        <mat-card class="features">
          <mat-card-title>
            <h4>Learn what you need</h4>
          </mat-card-title>
          <mat-card-content class="feature-container">
            <div class="feature-hightlight">
              <span id="nature"><img src="assets/img/landing/icons8-abc-48.png" alt="ABC"></span>&nbsp;
              <div class="desc-column">
                <h3><b>100% Useful language</b></h3>
                <p class="desc">Learning materials are designed based on real life experience of many expats in France just like you. 
                  These are language used by locals, and we keep updating it regulary.</p>
              </div>
            </div>
            <div class="feature-hightlight">
              <span id="nature"><img src="assets/img/landing/icons8-sorting-48.png" alt="Category"></span>&nbsp;
              <div class="desc-column">
                <h3><b>Full category</b></h3>
                <p class="desc">From basic life skills like shopping, house-renting to professional situations like networking or job interviews,
                  we provide the core language sets that help you make your first step.</p>
              </div>
            </div>
            <div class="feature-hightlight">
              <span id="nature"><img src="assets/img/landing/icons8-learning-48.png" alt="Improve"></span>&nbsp;
              <div class="desc-column">
                <h3><b>Improve fast</b></h3>
                <p class="desc">You can keep track of your progress with your account, and practice at anytime anywhere without any limit.</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
    </section>
    <section id="example">
      <mat-card class="features">
        <mat-card-title>
          <h4>Learn by activities</h4>
        </mat-card-title>
        <mat-card-content>
          <p>Learning materials are present as different kind of interactive activities.</p>
        </mat-card-content>
      </mat-card>
      <div class="screenshots-scrolling-wrapper">
        <div *ngFor="let pathItem of screenshotImagePaths" class="screenshot-app">
          <img class="screenshot-img" [src]="pathItem"><hr>
        </div>
      </div>
    </section>
    <section id="platforms">
      <mat-card class="features">
        <mat-card-title>
          <h5>Web app available now, native apps on the way.</h5>
        </mat-card-title>
        <mat-card-content>
          <p class="desc">Native apps for iOS / Android are under developement. <br>
            Meanwhile, use the <b>"Save to home screen"</b> function in your browser to create an easy access to this web app.
          </p>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>For Safari</mat-panel-title>
            </mat-expansion-panel-header>
            <img src="assets/img/landing/save-to-home.png" style="width:85%; margin-top: 1.5em; ">       
            </mat-expansion-panel>
        </mat-card-content>
      </mat-card>
    </section>
    <section >
      <mat-card class="features" id="call-to-action">
        <mat-card-title>
          <h4>French that you can use immediately on the street.</h4>
        </mat-card-title>
        <div class="actions-container">  
          <button mat-stroked-button class="btn-action btn-register" (click)="register()"><p>Quick sign up and get started</p></button>
          <button mat-stroked-button class="btn-action btn-login" (click)="try()">                        
            <mat-spinner [diameter]="20" *ngIf="loading" id="load-spinner" ></mat-spinner>
            <p>Try it</p>
          </button>
        </div>
      </mat-card>
    </section>

    <footer id="footer-area" >
      <div class="footer-note">
        <a class="footer-link" href="mailto:qihui.yu0811@gmail.com"><h4>Contact Us</h4></a>
        <a class="footer-link" href="landing"><h4>中文版</h4></a>
      </div>
      <div class="footer-text">
        <h6>© 2019 Crafted by qihui.yu in Paris</h6>
      </div>
    </footer>
</div>
