.placeholder {
    height: 3em;
}

.placeholder-bottom {
    height: 0.5em;
}

.cover-image {
    display: flex;
    flex-direction: column;
    height: 12em;
    /* container relative + .title absolute for bottom alignment */
    position: relative;
}

@media (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    app-activity-card {
        width: 32%;
    }
    .cover-image {
        height: 20em;
    }
}

.content {
    color: white;
    position: absolute;
    bottom: 0.8em;
    right: 1em;
}

.title {
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    position: absolute;
    bottom: 0.6em;
    left: 1em;
}

.percent {
    font-size: 32px;
}

.progress {
    font-size: 18px;
    float: right;
}