/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

/* Color chosen for default theme:
https://material.io/design/color/#tools-for-picking-colors

primary:
mat-teal 700, 400, 900
#00796B, #1DE9B6, #004D40

accent: 
mat-blue, 400, 100, 900
#42A5F5, #BBDEFB, #0D47A1

warn:
mat-red
#F44336
*/

* {
    padding: 0;
    margin: 0;
}

/* title for the whole application, we can have only one, aka: FLE-GO */
h1 {
    font-family: 'Righteous', cursive !important;
}

h2 { 
    font-family: 'Righteous', cursive !important;
}

h3 {
    font-family: 'Raleway', sans-serif  !important;
    font-weight: 400;
}

h4 {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 400;
}

/* h5 and h6 by default is smaller than browser text. So use for disclaimer and copyright texts. */
h5 {
    font-family: 'Raleway', sans-serif;
}

h6 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif !important;
}

/* Styles for icons, must use id to override default style */
#icon-size-24 {
    font-size: 24px;
}

#icon-size-32 {
    font-size: 32px;
}

#icon-size-48 {
    font-size: 48px;
}

.teal { 
    /* mat-teal */
    color: #00796B;
}

.light-teal {
    /* mat-teal light: 100 */
    color: #00856f;
}

.light-gray {
    color: #e9e9e9;
}

.gray {
    color:gray;
}

/* For mat-radio-button colors */
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:#00796B !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
    color:#00796B important;
    background-color:#00796B !important;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:#00796B !important;
}


