<div class="container">
  <div class="image-container">
      <img class="q-picture" [src]="sampleQuestion.imgSrc">
  </div>

  <div class="question-container">
    <label id="qcm-group-desc">{{sampleQuestion.desc}}</label>
    <mat-radio-group
      aria-labelledby="qcm-group-desc"
      class="qcm-group"
      [(ngModel)]="choice">
      <mat-radio-button class="qcm-button" *ngFor="let choice of sampleQuestion.choices" [value]="choice.desc">
        <span class="wrap-mat-radio-label">{{choice.desc}}</span>
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <!-- <div>Your choice is: {{choice}}</div> -->
</div>

