<div class="title-container">
  <h2>{{question.name}}</h2>
  <h3>Associez</h3>
</div>

<div class="container">
  <app-audio-desc *ngIf="hasAudio" [audioDesc]="question.audioDesc"></app-audio-desc>
  <app-image-desc *ngIf="hasImage" [imgDesc]="question.imgDesc"></app-image-desc>

  <div class="question-container">
    <div id="qcm-group-desc">{{question.desc}}</div>
    <div class="pool" cdkDropList cdkDropListOrientation="horizontal" #poolList="cdkDropList" 
        [cdkDropListData]="pool"
        [cdkDropListConnectedTo]="[Goal]"
        (cdkDropListDropped)="drop($event)">
        <img class="q-picture" *ngFor="let choice of pool" [src]="choice.imgSrc" cdkDrag>
    </div> 
    <div class="drop-container" cdkDropList #Goal="cdkDropList" 
      [cdkDropListData]="goalContains"
      [cdkDropListConnectedTo]="[poolList]"
      (cdkDropListDropped)="drop($event)">
      <img class="q-picture" *ngFor="let chosen of goalContains" [src]="chosen.imgSrc" cdkDrag>
    </div>
  </div>
</div>