:host {
    margin: 0.3em;
}

.mat-card {
    border-radius: 0;
}

img {
    object-fit: cover;
    object-position: 0 -2em;
    height: 8em;
}

.mat-card-image {
    margin-bottom: 0;
    cursor: pointer;
}

mat-card-actions {
    padding-top: 0;
}

.action {
    font-family: 'Righteous', sans-serif;
    font-weight: bold;
}

@media (min-width: 768px) {
    :host {
        width: 90%;
    }
}