<div class="placeholder"></div>

<div class="container">
  <mat-card id="card-bg-colored">
    <img class="avatar" src="assets/img/avatar/1-avatar-1.png" alt="User Avatar">
    <h2>Victoire</h2>
    <p>1 day of study</p>
  </mat-card>

  <mat-divider></mat-divider>

  <label id="radio-group-label"><h2 class="teal">Study mode</h2></label>
  <mat-radio-group class="radio-group" aria-labelledby="radio-group-label" [(ngModel)]="studyMode">
    <mat-radio-button class="radio-button" *ngFor="let mode of modes" [value]="mode">
      <p>{{mode}}</p>
    </mat-radio-button>
  </mat-radio-group>
  <!-- <div>
    <p>Your study mode is: <b>{{studyMode}}</b></p>
  </div> -->

  <mat-divider></mat-divider>
  <div class="action-container">
    <a mat-raised-button href="mailto:qihui.yu0811@gmail.com"> 
      <p>Feedback and Function Requests</p>
    </a>
  </div>
</div>

<div class="placeholder"></div>

