<div class="placeholder"></div>
<div class="container">
  <div class="main-container">
      <mat-card id="card-bg-colored">
        <img class="avatar" src="assets/img/avatar/1-avatar-1.png" alt="User Avatar">
        <h2>{{currentUser.username}}</h2>
        <p>Since {{currentUser.createdDate | date}}</p>
      </mat-card>
      
      <div class="actions-container">
        <button mat-button class="btn-secondary" onclick="window.location.href='mailto:qihui.yu0811@gmail.com'">Feedback and Function Requests</button>
        <mat-divider></mat-divider>
        <button mat-button class="btn-secondary" *ngIf="currentUser" (click)="openConfirmDialog()">Reset all progress</button>
      
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
        <button mat-button class="btn-primary" *ngIf="currentUser" (click)="logout()">Logout</button>
        <mat-divider></mat-divider>
      </div>
      
      <div id="version-info">
        <div>Version {{versionNumber}}</div>
      </div>
      <div id="copyright-info">
        <div>Crafted by qihui.yu in Paris</div>
      </div>
    </div>
</div>
<div class="placeholder-bottom"></div>

